<header>
    <nav class="navbar navbar-expand-sm navbar-background bg-transparent">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                    <th:block>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="../explore/home">Solar System</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="../planet/travel">Travel the Universe</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="../planet/my_planet">Home Planet</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="../account/manage">Credit Account</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="../user/profile">Profile</a>
                        </li>
                        <li class="nav-item mr-2">
                            <a class="nav-link text-white active h5" href="/logout">Logout</a>
                        </li>
                    </th:block>
            </ul>
        </div>
    </nav>
</header>