<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>
<body>

<main>
    <div class="container">
        <h1>Moon</h1>
        <hr class="my-3"/>

        <img src="../../img/explore/moon.jpg" alt="Moon" style="width:55%;">
        <p class="h5">The Moon is an astronomical body that orbits the Earth as its only permanent natural satellite. It
            is the fifth-largest satellite in the Solar System, and the largest among planetary satellites relative to
            the size of the planet that it orbits (its primary). The Moon is, after Jupiter's satellite Io, the
            second-densest satellite in the Solar System among those whose densities are known. </p>

        <h5><a href="/explore/earth" class="previous">&#8650; Earth</a></h5>
        <a href="/explore/home">Solar System</a>

        <hr class="my-3"/>

    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>