<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>
<body>

<main>
    <div class="container">
        <h1>Neptune</h1>
        <hr class="my-3"/>

        <img src="../../img/explore/neptune.jpg" alt="Neptune" style="width:65%;">
        <p class="h5">Neptune is the eighth and farthest known planet from the Sun in the Solar System. In the Solar
            System, it is the fourth-largest planet by diameter, the third-most-massive planet, and the densest giant
            planet. Neptune is 17 times the mass of Earth, slightly more massive than its near-twin Uranus. Neptune is
            denser and physically smaller than Uranus because its greater mass causes more gravitational compression of
            its atmosphere. Neptune orbits the Sun once every 164.8 years at an average distance of 30.1 au (4.5 billion
            km; 2.8 billion mi). It is named after the Roman god of the sea and has the astronomical symbol ♆, a
            stylised version of the god Neptune's trident.</p>

        <a href="/explore/uranus" class="previous">&laquo; Uranus</a>&emsp;&emsp;
        <a href="/explore/home">Solar System</a>&emsp;&emsp;
        <a href="/explore/pluto" class="next">Pluto &raquo;</a>
        <hr class="my-3"/>
        <h1>  	&#128640;</h1>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>