<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>
<body>

<main>
    <div class="container">
        <h1>Uranus</h1>
        <hr class="my-3"/>

        <img src="../../img/explore/uranus.jpg" alt="Uranus" style="width:65%;">
        <p class="h5">Uranus (from the Latin name Ūranus for the Greek god Οὐρανός) is the seventh planet from the Sun.
            It has the third-largest planetary radius and fourth-largest planetary mass in the Solar System. Uranus is
            similar in composition to Neptune, and both have bulk chemical compositions which differ from that of the
            larger gas giants Jupiter and Saturn. For this reason, scientists often classify Uranus and Neptune as "ice
            giants" to distinguish them from the gas giants. Uranus' atmosphere is similar to Jupiter's and Saturn's in
            its primary composition of hydrogen and helium, but it contains more "ices" such as water, ammonia, and
            methane, along with traces of other hydrocarbons. It has the coldest planetary atmosphere in the Solar
            System, with a minimum temperature of 49 K (−224 °C; −371 °F), and has a complex, layered cloud structure
            with water thought to make up the lowest clouds and methane the uppermost layer of clouds. The interior
            of Uranus is mainly composed of ices and rock. </p>

        <a href="/explore/saturn" class="previous">&laquo; Saturn</a>&emsp;&emsp;
        <a href="/explore/home">Solar System</a>&emsp;&emsp;
        <a href="/explore/neptune" class="next">Neptune &raquo;</a>
        <hr class="my-3"/>
        <h1>  	&#128640;</h1>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>