<!DOCTYPE html>
<html
        lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
>
<th:block th:include="~{_shared/head}"/>
<body>

<main>
    <div class="container">
        <h1>  	&#128640;</h1>
        <h1>  	&#128640;&#128640;</h1>
        <h1>  	&#128640;&#128640;&#128640;</h1>

        <h1>Hello Explorer!</h1>
        <hr class="my-3"/>
        <p class="h4">          Welcome to Space.</p>
        <p class="h4">Here you can explore the Solar System.</p>
        <p class="h4">Or you can create your own planets and travel to other create before.</p>
        <p class="h4">Good luck commander.</p>
        <hr class="my-3"/>
        <h3><a href="/explore/home">Explore</a> the Solar System</h3>
        <h3><a href="/users/login">Log In</a> if you have an account or
            <a href="/users/register">Register</a> now and see the space.
        </h3>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>