<!DOCTYPE html>
<html   lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>

<body>
<th:block th:include="~{_shared/header}"/>

<main>
    <div class="container">
        <h3> &#128640;</h3>

        <p class="h3">
        <h2 th:text="'Planet name '+ ${planet.name} +'!'"> </h2>

        <th:block th:switch="${planet.getSize().toString()}">
            <img th:case="'SMALL'" src="../../img/planet/SMALL.jpg" alt="small"
                 class="align-middle" width="60"/>
            <img th:case="'MEDIUM'" src="../../img/planet/MEDIUM.jpg" alt="medium"
                 class="align-middle" width="75"/>
            <img th:case="'LARGE'" src="../../img/planet/LARGE.jpg" alt="LARGE"
                 class="align-middle" width="90"/>
            <img th:case="'HUGE'" src="../../img/planet/HUGE.jpg" alt="HUGE"
                 class="align-middle" width="105"/>
            <img th:case="'ENORMOUS'" src="../../img/planet/ENORMOUS.jpg" alt="ENORMOUS"
                 class="align-middle" width="120"/>
        </th:block>

        <p class="h3" th:text="'Planet Size '+ ${planet.getSize().toString().toLowerCase()} +'!'"> </p>

        <h3> &#128640;</h3>
        <p class="h3" th:text="'Planet Upgrade level '+ ${planet.getUpgrades().toString().toLowerCase()} +'!'" ></p>
        <h3> &#128640;</h3>
        <p class="h3" th:text="${planet.name} +' rating is '+${planet.rating}"></p>
        <h3> &#128640;</h3>
        <p class="h3" th:text="'Travel cost '+ ${planet.getIncomePerTrip()} +'!'"></p>
        <h3>
        <a class="btn btn-outline-primary" th:href="@{'/planet/travel/trip/' + ${planet.getName()}}">Travel now!</a>&nbsp;and get 1 rating.
        </h3>

        <h3> &#128640;</h3>
        <h3>My balance is [[${session.money.getCreditAmount()}]] credits.</h3>
        <h3> &#128640;</h3>
    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>