<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<th:block th:include="~{_shared/head}"/>

<body>
<th:block th:include="~{_shared/header}"/>

<main>
    <div class="container">
        <h1> &#128640;</h1>


        <th:block >
            <div class="row">
                  <div class="col" th:each="planet : ${planets}">

                    <img th:src="@{'../../img/planet/' +${planet.getSize()} + '.jpg'}" width="100">
                    <h2 class="text-white" th:text="${planet.getName()}"></h2>
                    <h5 class="text-white" th:text="${planet.getRating()} + ' rating'"></h5>
                    <h5 class="text-white" th:text="${planet.getIncomePerTrip()} + ' trip cost'"></h5>
                    <a class="btn btn-primary" th:href="@{'/planet/travel/' + ${planet.getId()}}">Travel</a>
                </div>
            </div>
        </th:block>

    </div>
</main>
<th:block th:include="~{_shared/footer}"/>
</body>
</html>